html * {
  font-family: 'Montserrat', sans-serif!important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #B0BEC5;
}
::-webkit-scrollbar-thumb {
  background-color: #78909C;
}

*::-moz-selection{
  background-color: #CFD8DC;
}

*::selection{
  background-color: #CFD8DC;
}

[v-cloak] {
  display: none;
}