.btn-group {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

button {
    padding: 5px 13px;
    font-size: 1.5em;
    width:200px;
    cursor: pointer;
    border: 0px;
    position: relative;
    margin: 20px;
    transition: all .25s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 10px;
    display: block;
}

.create {
    background: rgb(8, 166, 53);
    color: #fff;
}
.create:hover {
    background: rgb(5, 126, 40);
}

.edit {
    background: rgb(241, 210, 12);
    color: #fff;
}
.edit:hover {
    background: rgb(196, 170, 8);
}

.delete {
    background: rgb(246, 35, 7);
    color: #fff;
}
.delete:hover {
    background: rgb(196, 29, 6);
}

.load {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit
}

.load::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 1s ease infinite;
    z-index: 10
}

.load::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px dashed #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 2s linear infinite;
    z-index: 5
}

@keyframes loading1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

button.active {
    transform: scale(.85)
}

button.activeLoading .loading {
    visibility: visible;
    opacity: 1
}

button .loading {
    opacity: 0;
    visibility: hidden
}